@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
    color:gray;
  }

}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.margin-0{
  margin-left:0;
  margin-right:0;
}
